$colorLt: black;

*{
    margin: 0;
    padding: 0;
}

#sidebar{
    position: fixed;
    width: 230px;
    height: 100%;
    background-color: rgb(151, 206, 134);
    left: -230px;
    transition: all 500ms linear;
    ul{
        li{
            color: $colorLt;
            text-align: center;
            border-bottom: 1px solid rgb(121, 139, 115);
            padding: 15px 10px;
            list-style: none;
        }
    }
    .toggle-btn{
        position: absolute;
        left: 240px;
        top: 20px;
        cursor: pointer;

        span{
            display: block;
            width: 40px;
            text-align: center;
            font-size: 30px;
            border: 1px solid $colorLt;

        }
    }
}

#sidebar.active{
    left: 0;
}


.logo{
    // border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 190px;
    height: 110px;
}

#TableBoostrap{
    position: absolute;
    top: 8%;
    left: 16%;
    width: 100%;
    height:auto;
    max-width: 83%;
    // background-color: rgb(5, 10, 1);


}